.cart__wrap {
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  padding-bottom: 55px;
  padding-left: 34px;
  padding-right: 34px;

  @media (max-width: $breakpoint-tablet) {
    padding-left: 31px;
    padding-right: 32px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-top: 37px;
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 14px;
  }
}

.cart__wrapper {
  position: relative;
  display: flex;
  margin-bottom: 51px;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    top: 124px;
    left: -34px;
    right: -34px;
    background-color: $light-grey;

    @media (max-width: $breakpoint-mobile) {
      top: 98px;
      left: -15px;
      right: -14px;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    margin-bottom: 40px;
  }
}

.cart__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $main-black;
  cursor: pointer;

  &:hover svg,
  &:focus svg {
    color: $brown;
  }

  &:active svg {
    opacity: 0.7;
  }

  @media (max-width: $breakpoint-mobile) {
    top: 15px;
    right: 15px;
  }
}

.cart__title {
  @include font-source(26px, bold, 34px, $main-black);
  @include clear(40px);
  text-align: center;

  @media (max-width: $breakpoint-mobile) {
    font-size: 24px;
    line-height: 29px;
    width: 189px;
    margin: 0 auto;
    margin-bottom: 29px;
  }
}

.cart__img {
  margin-top: 6px;
  margin-right: 20px;

  @media (max-width: $breakpoint-tablet) {
    margin-right: 23px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-right: 15px;
  }
}

.cart__img img {
  width: 84px;
  height: 79px;

  @media (max-width: $breakpoint-mobile) {
    width: 70px;
    height: 63px;
  }
}

.cart__number {
  display: flex;
  max-width: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cart__number input {
  @include main-font-source(18px, normal, 23px, $main-black);
  margin: 0;
  padding: 0;
  border: none;
  width: 33px;
  text-align: right;
  margin-top: 14px;
  margin-bottom: 7px;
  appearance: none;

  &:hover,
  &:focus {
    color: $brown;
    appearance: none;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $breakpoint-tablet) {
    margin-top: 17px;
  }

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
    line-height: 21px;
  }
}

.cart__number input::placeholder {
  color: $main-black;
}

/* Chrome, Safari, Edge, Opera */
.cart__number input::-webkit-outer-spin-button,
.cart__number input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
.cart__number input[type="number"] {
  appearance: textfield;
}

.cart__btn {
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &::before {
    @include pseudo(" ", absolute, 100%, 2px);
    top: 8px;
    left: 6px;
    background-color: $grey;
  }

  &--plus::after {
    @include pseudo(" ", absolute, 100%, 2px);
    top: 8px;
    left: 6px;
    transform: rotate(90deg);
    background-color: $grey;
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: $brown;
  }

  &:active::before,
  &:active::after {
    opacity: 0.7;
  }
}

.cart__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.cart__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (max-width: $breakpoint-mobile) {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  &--different {
    font-weight: 500;

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 0;
    }
  }
}

.cart__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.cart__links-btn {
  max-width: 200px;
  width: 100%;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  border: 1px solid $brown;
  padding-top: 23px;
  padding-bottom: 22px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  &--continue {
    background-color: $white;
    color: $main-black;

    @media (max-width: $breakpoint-mobile) {
      margin-bottom: 20px;
    }
  }

  &--checkout {
    background-color: $brown;
    color: $white;
  }

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $breakpoint-tablet) {
    max-width: 204px;
  }

  @media (max-width: $breakpoint-mobile) {
    max-width: 260px;
  }
}

.cart__product p {
  @include font-source(18px, bold, 23px, $main-black);
  @include clear(9px);

  @media (max-width: $breakpoint-mobile) {
    @include font-source(16px, bold, 21px, $main-black);
    @include clear(4px);
  }
}

.cart__product span {
  font-size: 18px;
  line-height: 23px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 16px;
    line-height: 21px;
  }
}

.cart__product {
  margin-right: 186px;

  @media (max-width: $breakpoint-tablet) {
    margin-right: 191px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-right: 32px;
  }
}
