.catalog {
  position: relative;

  &::before {
    @include pseudo(" ", absolute, 100%, 1px);
    bottom: 130px;
    left: 0;
    background-color: $light-grey;
  }
}

.catalog__container {
  display: flex;
  justify-content: space-between;
}

.catalog__left {
  display: flex;
  flex-direction: column;
  // width: 75%;
  width: 870px;
}

.catalog__filter {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 50px;
}

.catalog__filter-btn {
  display: none;
}

.catalog__cards ul {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.catalog__cards li {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 35px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.catalog__img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__img img {
  width: 270px;
  height: 272px;
}

.catalog__cards p {
  margin-top: 15px;
  margin-bottom: 6px;
}

.catalog__cards span {
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}

.catalog__cards a {
  color: $main-black;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $brown;
  }

  &:active {
    opacity: 0.7;
  }
}
