.container {
  max-width: 1200px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $breakpoint-tablet) {
    min-width: $width-tablet;
    padding: 0 45px;
  }

  @media (max-width: $breakpoint-mobile) {
    min-width: $mobile-width;
    padding: 0 15px;
  }
}
