.faq__container {
  margin-bottom: 98px;
}

.faq h2 {
  @include font-source(34px, bold, 44px, $main-black);
  @include clear(48px);
  letter-spacing: 0.03em;
  text-align: center;
}

.faq__list {
  @include no-list;
  padding: 0 100px;
}

.faq__item {
  padding-top: 42px;
  padding-bottom: 37px;
  padding-right: 38px;
  padding-left: 38px;
  border: 1px solid $brown;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $beige;
  }

  &:not(:first-child) {
    border-top: none;
  }
}

.faq__btn {
  @include main-font-source(18px, 500, 23px, $main-black);
  display: block;
  text-align: left;
  position: relative;
  width: 100%;
  cursor: pointer;

  border: none;
  background: transparent;
  margin-bottom: 8px;

  &::after {
    @include pseudo(" ", absolute, 17px, 10px);
    right: 10px;
    top: 10px;
    background-image: url("../img/icon-down.svg");
    background-repeat: no-repeat;
  }
}

.faq__item p {
  margin: 0;
  padding: 0 12px;
  font-weight: normal;
  width: 60%;
  display: none;
}

.faq__item--show .faq__btn {
  &::after {
    top: 10px;
    transform: rotate(180deg);
  }
}

.faq__item--show p {
  display: block;
}

// .faq__list--nojs p {
//   display: block;
// }
