.filter__close {
  display: none;
}

// .filter__form {
//   flex-basis: 252px;
// }

.filter__item {
  margin: 0;
  padding: 0;
  border: 1px solid $brown;

  &:not(:last-of-type) {
    border-bottom: none;
  }

  &:last-of-type {
    margin-bottom: 35px;
  }

  &:hover,
  &:focus {
    background-color: $beige;
  }
}

.filter__group {
  @include main-font-source(16px, normal, 21px, $main-black);
  padding: 23px;
  text-align: left;
  position: relative;
  width: 100%;
  display: block;
  margin: 0;


  border: none;
  background: transparent;
  cursor: pointer;

  &::before {
    @include pseudo(" ", absolute, 17px, 10px);
    right: 21px;
    top: 28px;
    background-image: url("../img/icon-down.svg");
    background-repeat: no-repeat;
  }
}

.filter__list {
  @include no-list;
  display: none;
  padding-left: 57px;

  li {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 25px;
    }
  }
}

.filter__list label {
  font-size: 14px;
  line-height: 18px;
  color: $main-black;
}

.filter__list input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;

  &::before {
    @include pseudo(" ", absolute, 15px, 15px);
    top: 2px;
    left: -22px;
    border: 1px solid $brown;
  }
}

.filter__list input[type="checkbox"]:checked + label::before {
  background-color: $brown;
}

.filter__btn {
  @include main-font-source(16px, normal, 21px, $white);
  width: 100%;
  min-height: 68px;
  margin-bottom: 25px;
  background-color: $brown;

  border: 1px solid $brown;
  cursor: pointer;

  &--clear {
    color: $main-black;
    background-color: $white;
  }

  &:hover,
  &:focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.7;
  }
}

// Поведение

.filter__item--open {
  .filter__list,
  .filter__price {
    display: block;
  }

  .filter__group::before {
    // top: 38px;
    transform: rotate(180deg);
  }
}

.filter__form--nojs {
  .filter__list,
  .filter__price {
    display: block;
  }

  .filter__item {
    .filter__group::after {
      top: 38px;
      transform: rotate(180deg);
    }
  }
}
