.header-cart {
  position: absolute;
  top: 42px;
  right: 17px;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }

  &--product,
  &--catalog {
    top: 52px;
  }

  @media (max-width: $breakpoint-tablet) {
    top: 55px;
    right: 45px;
  }

  @media (max-width: $breakpoint-mobile) {
    top: 37px;
    right: 14px;
  }
}

@media (max-width: $breakpoint-tablet) {
  .header-cart span {
    display: none;
  }
}

.header-cart svg {
  display: none;

  @media (max-width: $breakpoint-tablet) {
    display: block;
    fill: transparent;
    color: $main-black;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.header-cart a {
  font-size: 14px;
  line-height: 21px;
  color: $main-black;

  &:hover,
  &:focus {
    color: $brown;
  }

  &:active {
    opacity: 0.7;
  }
}
