.price {
  padding: 0 0 18px 27px;
}

.price__controls {
  position: relative;
  margin-bottom: 11px;
}

.price__scale {
  // position: relative;
  width: 200px;
  height: 1px;
  background-color: $beige;
}

.price__bar {
  margin-left: 50px;
  width: 49%;
  height: 1px;
  background-color: $brown;
}

.price__toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid $brown;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.7;
  }
}

.price__toggle-min {
  left: 41px;
}

.price__toggle-max {
  left: 146px;
}

.price__range {
  // font-size: 0;
  margin-left: 34px;
}

.price__range label {
  @include main-font-source(14px, 500, 18px, $main-black);
}

.price__range input {
  width: 37px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.price__range input::-webkit-outer-spin-button,
.price__range input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
.price__range input[type="number"] {
  appearance: textfield;
}

.price__min-price {
  margin-right: 47px;
}

@media (max-width: $breakpoint-tablet) {
  .price__bar {
    margin-left: 30px;
  }

  .price__toggle-min {
    left: 30px;
  }

  .price__toggle-max {
    left: 120px;
  }

  .price__range {
    margin-left: 20px;
  }

  .price__min-price {
    margin-right: 30px;
  }
}
