.price {
  padding: 0 0 18px 27px;
  display: none;

  @media (max-width: $breakpoint-tablet) {
    padding-bottom: 41px;
  }

  @media (max-width: $breakpoint-mobile) {
    padding-left: 11px;
    padding-bottom: 32px;
  }
}

.price__controls {
  position: relative;
  margin-bottom: 11px;
}

.price__scale {
  // position: relative;
  width: 200px;
  height: 1px;
  background-color: $beige;

  @media (max-width: $breakpoint-tablet) {
    width: 304px;
  }

  @media (max-width: $breakpoint-mobile) {
    width: 250px;
  }
}

.price__bar {
  margin-left: 50px;
  width: 49%;
  height: 1px;
  background-color: $brown;

  @media (max-width: $breakpoint-tablet) {
    margin-left: 72px;
    width: 53%;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-left: 53px;
    width: 53%;
  }
}

.price__toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid $brown;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $breakpoint-tablet) {
    border: 10px solid $brown;
  }
}

.price__toggle-min {
  left: 41px;

  @media (max-width: $breakpoint-tablet) {
    left: 53px;
  }

  @media (max-width: $breakpoint-mobile) {
    left: 39px;
  }
}

.price__toggle-max {
  left: 146px;

  @media (max-width: $breakpoint-tablet) {
    left: 227px;
  }

  @media (max-width: $breakpoint-mobile) {
    left: 178px;
  }
}

.price__range {
  margin-left: 34px;

  @media (max-width: $breakpoint-tablet) {
    margin-left: 45px;
    font-size: 16px;
    line-height: 21px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-left: 32px;
  }
}

.price__range label {
  @include main-font-source(14px, 500, 18px, $main-black);

  @media (max-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 21px;
  }
}

.price__range input {
  width: 37px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.price__range input::-webkit-outer-spin-button,
.price__range input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
.price__range input[type="number"] {
  appearance: textfield;
}

.price__min-price {
  margin-right: 47px;

  @media (max-width: $breakpoint-tablet) {
    margin-right: 115px;
  }

  @media (max-width: $breakpoint-mobile) {
    margin-right: 78px;
  }
}
