@mixin no-outline {
  outline: none;
  background: transparent;

  &::before,
  &::after {
    display: none;
  }
}

@mixin no-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin clear ($margin-bottom) {
  margin: 0;
  padding: 0;
  margin-bottom: $margin-bottom;
}

@mixin pseudo ($content, $position, $width, $height) {
  content: $content;
  position: $position;
  width: $width;
  height: $height;
}

@mixin font-source ($size, $weight, $lh, $color) {
  font-family: "Cormorant Garamond", "Garamond", serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  color: $color;
}

@mixin main-font-source ($size, $weight, $lh, $color) {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $lh;
  color: $color;
}
